:root {
    --color-text: #ffffff;
    --color-primary: #22022a; /* contact button on beginning and souce code for project card*/
    --color-secondary: #200d3e; /* contact, skill image container, history item*/
    --color-dark: #400c93; /* skill used in a project */
    --color-bg: #140e28; /* background */
    

    /* fonts */
    --font-roboto: "Roboto";
}